.title {
  text-align: right;
  color: rgba(255, 255, 255, 0.795);
}
.data-section {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.sidebar {
  background-color: #e1c9fd;
  height: 60vh;
  margin-right: 1vw;
  width: 15%;
  border-radius: 5px;
  padding: 2vh;
  position: fixed;
}
.helplist-container {
  height: 80vh;
  width: 75%;
  background-color: transparent;
  border-radius: 5px;
  overflow-y: scroll;
  padding-left: 25%;
}
.help-item {
  min-height: 10vh;
  background-color: #e1c9fd;
  margin: 1vh;
  padding: 1vh;
  border-radius: 5px;
}
.help-meta {
  font-style: italic;
  text-align: right;
  color: var(--meta);
}

.search-form {
  display: flex;
  flex-direction: column;
}
.search-input {
  margin: 1vh 0px;
}
.search-btn {
  background-color: #9239f9;
  color: white;
  font-size: medium;
}
.search-btn:active {
  background-color: #6a32aa;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    padding: 5px;
    margin-right: 0px;
    width: auto;
  }
}
