@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap");
* {
  --primary: #a65bfc;
  --secondary: #c099e8;
  --meta: rgb(0, 93, 168);
  --focus-light: rgba(163, 211, 226, 0.897);
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
}

::-webkit-scrollbar {
  background-color: rgb(191, 191, 191) !important;
  width: 8px !important;
  height: 8px !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92) !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(92, 92, 92) !important;
  border-image: initial !important;
  border-radius: 50px;
}

.container {
  padding: 13vh 10rem 1vh 10rem;
}
.btn {
  border: 0.1rem solid #a8a8a8;
  padding: 1vh 1vw;
  border-radius: 5px;
  min-height: 30px;
  max-height: 10vh;
  cursor: pointer;
}
textarea:focus,
input:focus,
.btn:hover,
.btn:focus {
  box-shadow: 0px 0px 5px var(--focus-light), 0 0 5px var(--focus-light),
    0 0 5px var(--focus-light);
  outline: none;
}
.btn:active {
  background-color: #808080;
}
.btn a {
  color: white;
}

.input,
input {
  min-height: 30px;
  max-height: 10vh;
  border-radius: 5px;
  margin: 1px;
  border: 0.1em solid rgb(131, 122, 122);
}

body {
  background: rgb(195, 46, 232);
  background: linear-gradient(
    139deg,
    rgba(195, 46, 232, 1) 0%,
    rgba(232, 71, 200, 1) 39%,
    rgba(228, 95, 255, 1) 100%
  );
}

.textarea {
  min-height: 30px;
  max-height: 10vh;
  border-radius: 5px;
  margin: 1px;
  border: 0.1em solid rgb(131, 122, 122);
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 13vh 15px 1vh 15px;
  }
}
