@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap");
* {
  --primary: rgb(133, 0, 133);
  --secondary: rgb(194, 0, 194);
  --meta: rgb(0, 93, 168);
  --btn-shadow: rgba(163, 211, 226, 0.897);
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
}

::-webkit-scrollbar {
  background-color: rgb(191, 191, 191) !important;
  width: 8px !important;
  height: 8px !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(92, 92, 92) !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(92, 92, 92) !important;
  border-image: initial !important;
  border-radius: 50px;
}

.container {
  padding: 1vh 10vw;
}
.btn {
  border: 0.1rem solid #a8a8a8;
  padding: 1vh 1vw;
  border-radius: 5px;
  max-height: 5vh;
  cursor: pointer;
}
input:focus,
.btn:hover,
.btn:focus {
  box-shadow: 0px 0px 5px var(--btn-shadow), 0 0 5px var(--btn-shadow),
    0 0 5px var(--btn-shadow);
  outline: none;
}
.btn:active {
  background-color: #808080;
}
.btn a {
  color: white;
}

input {
  height: 4vh;
  border-radius: 5px;
  margin: 1px;
  border: 0.1em solid rgb(131, 122, 122);
}
