nav {
  display: flex;
  padding: 2vh 2vw;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: black;
}
.logo {
  font-size: large;
  font-weight: 500;
  padding: 0.5vh 0vw;
  color: var(--primary);
  cursor: pointer;
}
.nav-links {
  display: flex;
}
.nav-item {
  padding: 1vh 2vw;
  text-align: center;
}
.nav-btn {
  padding: 1vh;
  text-align: center;
}
.btn {
  border: 0.1rem solid var(--primary);
  padding: 1vh 2vw;
  border-radius: 5px;
  max-height: 5vh;
}
.btn a {
  color: white;
}
.btn-login {
  background-color: var(--primary);
}
.btn-login:hover {
  background-color: var(--secondary);
}
.avatar {
  width: 5vh;
  height: 5vh;
  border-radius: 50px;
  overflow: hidden;
}
